.header {
  font-family: "Luckiest Guy", cursive;
  background-color: #2f5061;
  color: white;
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-family: "Luckiest Guy";
  font-size: 3.5rem;
  margin: 0;
  color: white;
  text-align: center;
  padding-left: 6rem;
}

.hamburger-wrapper {
  display: none;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 2.5rem;
    padding-left: 4rem;
  }

  .hamburger-wrapper {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 20;
  }
}

.logout-container {
  position: absolute;
  right: 2rem;
  bottom: 0.8rem;
}

.logout-btn {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.logout-btn:hover {
  opacity: 0.8;
}
